<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xtracover.xcqc">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="33" />

    <queries>
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
    </queries>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.SET_TIME"
        tools:ignore="ProtectedPermissions"
        tools:remove="android:maxSdkVersion" />

    <permission
        android:name="android.permission.SET_TIME"
        android:protectionLevel="signature|system"
        tools:ignore="ReservedSystemPermission" />

    <uses-feature android:name="android.hardware.touchscreen.multitouch" />

    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation" /> <!-- bibo01 : hardware option -->
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.BLUETOOTH"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- For Ultraviolet index -->
    <uses-permission android:name="com.samsung.permission.SSENSOR" />
    <uses-permission android:name="android.permission.SENSORS" />
    <uses-permission android:name="com.samsung.permission.android.permission.BODY_SENSORS" /> <!-- For HRM raw data -->
    <uses-permission android:name="com.samsung.permission.SSENSOR_HRM_RAW_PPG" /> <!-- For call handling data -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.MODIFY_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_SECURE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.USB_PERMISSION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission
        android:name="android.permission.INTERNAL_SYSTEM_WINDOW"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.REBOOT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission
        android:name="android.permission.LOCAL_MAC_ADDRESS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher_square"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,icon,theme,label"
        tools:targetApi="m">
        <activity
            android:name="com.xtracover.xcqc.Activities.AddTesterNameActivity"
            android:exported="false" />
        <activity
            android:name="com.xtracover.xcqc.Activities.Activities.GradingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.Activities.AllTestDataSaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.NfcTestActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.BatteryStressTestActivities.BatteryStartTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.BatteryStressTestActivities.BatteryTestResultsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.FrontCameraTestALActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.BackCameraTestALActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.ImeiValidationActivity" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.DeviceTemperatureActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.CpuPerformanceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.OrientationActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.FmRadioActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.NfcSensorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.GrHuMdSdScUvLsIrHasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.BiometricTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.GyroscopeGamingSensorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.OtgActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.UsbTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.ChargingTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.VolumeUpDownHBPKActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.ProximityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.InternalExternalStorageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.OthersTestAndRetestActivities.BatteryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.NetworkTestAndRetestActivities.NetworkSignalFirstSecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.NetworkTestAndRetestActivities.WifiInternetGpsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.FlashFrontTorchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.MicrophoneActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.AudioPlaybackActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.ReceiverActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.LoudSpeakerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.EarphoneJMKActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.BluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.FrontVideoRecordingActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.BackVideoRecordingActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.AudioVideoTestAndRetestActivities.CameraAutoFocusActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.DisplayTestAndRetestActivities.DisplayBrightnessActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.DisplayTestAndRetestActivities.MultiTouchTestActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.DisplayTestAndRetestActivities.DisplayAndTouchScreenActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.DisplayTestAndRetestActivities.DeadPixelCheckActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.NetworkTestAndRetestActivities.VolteCallingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.NetworkTestAndRetestActivities.CallingSimTwoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.NetworkTestAndRetestActivities.CallingSimOneActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.Activities.CertificateOfTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.Activities.ShowEmptyResultsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.Activities.TermsConditionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.Activities.ImeiInstructionActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.Activities.GetInTouchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.Activities.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.xtracover.xcqc.Activities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.xtracover.xcqc.Activities.Services.ScreenCaptureService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaProjection"
            android:stopWithTask="true"
            tools:targetApi="q" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>